/* Mainpage */
body{
  background-color: #ced122;
}

.header {
  background-color: #ced122;
  text-align: center;
  padding: 20px;
}

/* Style page content */
.navbar{
  max-height: 50px;
  background-color: aquamarine;
}

img{
  width:100% !important;
  height:100% !important;
}

.vizualization{
  width:50% !important;
  height:50% !important;
}
